<html>
<head>
<meta charset="utf-8"/>
<script src="https://www.gstatic.com/firebasejs/4.3.1/firebase.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.3.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.3.1/firebase-auth.js"></script>
<script src="https://cdn.firebase.com/libs/firebaseui/2.3.0/firebaseui.js"></script>
{% block scripts %}{% endblock %}
<link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/2.3.0/firebaseui.css" />
{% block styles %}{% endblock %}
{% if firebase_auth.api_key %}
<script>
firebase.initializeApp({
  apiKey: "{{ firebase_auth.api_key }}",
  authDomain: "{{ firebase_auth.auth_domain }}",
  databaseURL: "https://{{ firebase_auth.project_id }}.firebaseio.com",
  storageBucket: "{{ firebase_auth.project_id }}.appspot.com",
  projectId: "{{ firebase_auth.project_id }}"
});
var ui = new firebaseui.auth.AuthUI(firebase.auth());
ui.start("#firebaseui-auth-container", {
  queryParameterForSignInSuccessUrl: "next",
  signInOptions: [ {{ firebase_auth.provider_ids }} ],
  callbacks: {
    signInSuccess: function(user, credential, redirectUrl) {
      user.getIdToken().then(function(token) {
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "{{ firebase_auth.url_for('sign_in') }}", true);
        xhr.setRequestHeader("Content-Type", "application/jwt");
        xhr.onreadystatechange = function() {
          if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
            window.location.replace(redirectUrl || "{{ request.url_root }}");
          }
        };
        xhr.send(token);
      });
      return false;
    }
  }
});
</script>
{% endif %}
</head>
<body>
{% block header %}{% endblock %}
<div id="firebaseui-auth-container"></div>
{% if firebase_auth.debug %}
<h3>Development sign-in</h3>
<form action="" method="POST">
  Email: <input type="text" name="email" />
  <input type="submit" value="Sign in" />
</form>
{% endif %}
{# TODO: Default text explaining that you sign up by signing in. #}
{% block footer %}{% endblock %}
</body>
</html>
